.collection-card {
	background-color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
	cursor: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.collection-image {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.collection-title {
	padding: 10px;
	font-size: 1.25rem;
}

.collection-actions {
	display: flex;
	justify-content: space-between;
	justify-self: flex-end;
	margin: 0 10px 10px;
}

.collection-actions button {
	width: auto;
	appearance: none;
	padding: 10px;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

.collection-actions button:hover,
.collection-actions button:focus {
	color: #f7f7f7;
	background-color: #333333;
	transform: scaleY(1.05);
}

.collection-actions button:focus {
	outline: transparent;
	border: 2px solid #005fcc;
}

.edit-collection-button {
	color: #333333;
	background-color: #fbd94a;
}

.delete-collection-button {
	color: #ffffff;
	background-color: #166fe5;
}
