.page-config {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 2px 0 rgba(34, 36, 38, 15%);
	gap: 10px 20px;
}

/* *********** 
 Media Queries 
 *************/
@media (min-width: 769px) {
	.page-config {
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
		align-items: flex-end;
	}
}
