.result-card {
	background-color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
	cursor: zoom-in;
}

.result-image {
	width: 100%;
	object-fit: cover;
}

.result-title {
	padding: 10px;
	font-size: 1.25rem;
}
