.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1;
	margin-top: 65px;
	background-color: red;
}

/* *********** 
 Media Queries 
 *************/
/* @media (min-width: 769px) {
	.main {
		margin-top: 65px;
	}
} */
