.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	margin-top: 65px;
	padding: 10px;
}

/* *********** 
 Media Queries 
 *************/
@media (min-width: 769px) {
	main {
		padding: 10px 30px;
	}
}
