header {
	background-color: #fbd94a;
	width: 100%;
	position: fixed;
}

/* Nav First/Left Styles */
.nav-first {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 20px;
}

.brand-image {
	max-height: 40px;
	margin-right: 10px;
}

.brand-name {
	font-size: 1.5rem;
}

.btn-menu {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.btn-menu-label {
	text-transform: uppercase;
	font-size: 1rem;
}

.menu-icon {
	height: 20px;
	width: 20px;
	background-image: url(/src/assets/menu.png);
	background-size: cover;
	margin-left: 5px;
	-webkit-transition: background-image 0.5s ease-out;
	transition: background-image 0.5s ease-out;
}

.btn-menu.open .menu-icon {
	background-image: url(/src/assets/cancel.png);
}

/* Navigation Menu */
.nav-link-container {
	background-color: #333;
	color: white;
}

ul.nav-link-container {
	list-style-type: none;
}

.nav-link {
	font-size: 1.2rem;
	text-align: center;
	border-bottom: 1px solid rgba(251, 217, 74, 0.7);
	padding: 0.5rem;
}

.nav-link a {
	text-decoration: none;
	width: 100%;
	display: block;
	color: #fbd94a;
}

.nav-menu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.nav-menu.open {
	max-height: 500px;
}

/* *********** 
 Media Queries 
 *************/
@media (min-width: 769px) {
	header {
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;
	}

	.nav-first {
		width: fit-content;
	}

	.brand {
		padding: 0;
	}

	.btn-menu {
		display: none;
	}

	.nav-menu {
		max-height: none;
	}

	.nav-link-container {
		background-color: inherit;
		color: inherit;
		display: flex;
		align-items: center;
		height: 100%;
	}

	.nav-link {
		margin-left: 20px;
		border: none;
	}

	.nav-link a {
		color: #333;
	}
}
