/*Normalization - remove browser padding and margins, set box-sizing*/
* {
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* **************************** 
Default Styles - Document Level
**************************** */

body {
	background-color: #e7e7e7;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333333;
}

a:hover {
	opacity: 75%;
}

input,
select,
button {
	font-size: 14px;
}

a {
	color: #333;
	text-decoration: none;
}
